.site-content{
	background: url("images/watermark.jpg") bottom left no-repeat
}

.content-area {
/*	float: right;*/
	margin: 0; /*0 0 (-$size__site-sidebar);*/
/*	width: $size__site-main;*/
	padding: 0.5em;
}

.site-main {
	margin: 0; /* 0 0 $size__site-sidebar;*/
}

.site-content .widget-area {
/*	float: left;
	overflow: hidden;
	width: $size__site-sidebar;*/
	padding: 0.5em;
}

.site-footer {
	clear: both;
	width: $size__site-main;
	padding: 0.5em;
}

header#masthead {
	border-bottom: solid 1px #ccc;
	height: 210px;
	position: relative;
	background: url("images/bgHeaderPlain.jpg") no-repeat;
}

h1.site-title a{
	position: absolute;
	right: 0;
	top: 5px;
	width: 310px;
	height: 120px;
	background: url("images/bgHeader2.png") no-repeat;
	text-indent: -9999px;	
}

h2.site-description{
	position: absolute;
	top: 125px;
	left: 5px;
	font-family: "Times New Roman", Times, serif;
	color: #fff;
	font-weight: normal;
	font-size: 1.4em;
}

#cboxCurrent{
	display: none !important;
}

@media screen and (min-width: 520px) {
	h2.site-description{
		font-size: 2.2em;	
		top: 113px;
		}
}


@media screen and (min-width: 600px) {

	#page{
		width: 90%;
		max-width: 1020px;
		margin: 10px auto 10px auto;
		border: solid 1px #ccc;
  	}

	.content-area {
		float: right;
		margin: 0px 0px 0px -300px;
		width: 100%;
	}
	.site-main {
		margin: 0 0 0 300px;
	}
	.site-content .widget-area {
		float: left;
		overflow: hidden;
		width: 300px;
	}
	
	header#masthead {
		height: 222px;
	}	
	.site-footer {
		clear: both;
		width: 100%;
	}

}

@media screen and (min-width: 1060px) {
	header#masthead{
		height: 190px;
	}

}