h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: 1.8em;
	margin: 0 0 7px 0;
}

h2{
	font-size: 1.3em;
	margin: 0;
	font-style: italic;
	line-height: 1.3em;
}

aside h1{
	font-size: 1em;
	font-style: italic;
	line-height: 1.1em;
}